@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
/* font-family: 'Barlow', sans-serif;  */
/* font-family: 'Barlow Condensed', sans-serif; */

:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

body::after {
  content: "";
  width: 50%;
  height: 60vh;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 4rem;
}

h1,
h2,
h3,
a {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  /* outline: 1px solid black; */
  max-width: 100%;
}

.global-padding {
  padding: 2rem 1.5rem;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo,
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img,
.hamburger img {
  display: block;
  width: 20px;
}

.hamburger {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.isActive {
  transform: rotate(180deg);
}

.nav-links {
  padding: 1.5rem 2rem;
  width: 345px;
  max-width: 88%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
  margin: auto;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 600;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  display: block;
  letter-spacing: 1px;
}

.nav-links a:hover {
  text-decoration: underline;
}

#login::before {
  content: "";
  display: block;
  border-top: 1.5px solid var(--grayish-blue);
  margin-bottom: 1rem;
}

#login {
  margin-bottom: 0;
  color: var(--grayish-blue);
}

.hero-img {
  margin-top: 3rem;
}

.img-devices {
  display: block;
  width: 100%;
  transform: translateX(70px) scale(1.37);
}
