@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
/* font-family: 'Barlow', sans-serif;  */
/* font-family: 'Barlow Condensed', sans-serif; */

:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Barlow", sans-serif;
}

body::after {
  content: "";
  width: 50%;
  height: 61vh;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 4rem;
}

h1,
h2,
h3,
a,
button {
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  /* outline: 1px solid black; */
  max-width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.global-padding {
  padding: 2rem 1.5rem;
}

.logo-nav {
  order: -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo,
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img,
.hamburger img {
  display: block;
  width: 20px;
}

.hamburger {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.4s ease;
}

.isActive {
  transform: rotate(180deg);
}

.nav-links {
  padding: 1.5rem 2rem;
  width: 345px;
  max-width: 88%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
  margin: auto;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  transition: top 0.5s ease-in-out;
}

.display-none {
  top: -300px;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 600;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  display: block;
  letter-spacing: 1px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.dot {
  display: none;
}

#login::before {
  content: "";
  display: block;
  border-top: 1.5px solid var(--grayish-blue);
  margin-bottom: 1rem;
}

#login {
  margin-bottom: 0;
  color: var(--grayish-blue);
}

.hero-img {
  /* outline: 1px solid black; */
  order: -1;
  margin-top: 2rem;
}

.img-devices {
  display: block;
  width: 520px;
  height: auto;
  margin-left: -0.1rem;
}

.content {
  /* outline: 1px solid black; */
  margin-top: 5rem;
}

.new-dash {
  /* outline: 1px solid black; */
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  gap: 1rem;
}

.new {
  outline: 1px solid black;
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
}

.dash {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
  color: var(--grayish-blue);
  font-size: 0.85rem;
}

.hero {
  /* outline: 1px solid black; */
  margin-top: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-text {
  font-size: 2.3rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.hero p {
  color: var(--dark-grayish-blue);
  font-size: 1.125rem;
  padding-right: 3rem;
  font-weight: 300;
}

.demo-preview {
  /* outline: 1px solid black; */
  margin-top: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-demo {
  padding: 0.6rem 1.3rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 0.4rem;
  font-weight: 700;
  background-color: var(--red);
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.btn-demo:hover {
  background-color: hsla(0, 100%, 68%, 80%);
}

.demo-preview p {
  text-transform: uppercase;
  color: var(--grayish-blue);
  font-size: 0.77rem;
  letter-spacing: 2px;
}

@media (min-width: 460px) {
  .img-devices {
    transform: translateX(70px) scale(1.33);
  }
}

@media (min-width: 550px) {
  .img-devices {
    transform: translateX(70px) scale(1.27);
  }

  .hero-text {
    /* outline: 1px solid black; */
    font-size: 2.5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 650px) {
  .img-devices {
    transform: translateX(70px) scale(1.23);
  }
}

@media (min-width: 720px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-nav {
    flex-basis: 100%;
    order: 0;
  }

  .content,
  .hero-img {
    flex-basis: 50%;
    order: 0;
    /* outline: 1px solid black; */
  }

  .content {
    margin-top: 5rem;
  }

  .new-dash {
    /* outline: 1px solid black; */
    margin-top: 0;
  }

  .demo-preview {
    margin-top: 3rem;
  }

  .hero-img {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-devices {
    margin-bottom: 0;
    transform: translateX(70px) scale(1.37);
  }
}

@media (min-width: 860px) {
  .logo-nav {
    padding-left: 5rem;
    padding-right: 5rem;
    /* outline: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
  }

  .nav-links {
    all: unset;
    /* outline: 1px solid black; */
  }

  .nav-links > * {
    margin-right: 2rem;
  }

  .nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: 600;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    display: inline;
    letter-spacing: 1px;
  }

  #login::before {
    content: ".";
    display: inline;
    border-top: none;
    margin-bottom: 0;
    margin-right: 2rem;
    font-size: 2rem;
    all: unset;
  }

  #login {
    margin-bottom: 0;
    margin-right: 0;
    color: var(--grayish-blue);
  }

  .dot {
    display: inline;
    font-size: 2rem;
    color: var(--grayish-blue);
  }

  .hamburger {
    display: none;
  }

  .content {
    padding-left: 3rem;
    margin-top: 6rem;
  }

  .hero-img {
    margin-top: 6rem;
  }
}

@media (min-width: 1200px) {
  .nav-links > * {
    margin-right: 4rem;
  }

  .img-devices {
    transform: translateX(125px) scale(1.3);
  }
}

@media (min-width: 1440px) {
  body::after {
    height: 50vh;
  }

  .container {
    max-width: 1440px;
  }

  .hero-img {
    margin-top: 5rem;
  }

  .img-devices {
    transform: translateX(150px) scale(1.3);
  }
}
