@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
/* font-family: 'Barlow', sans-serif;  */
/* font-family: 'Barlow Condensed', sans-serif; */

:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

body::after {
  content: "";
  width: 50%;
  height: 50vh;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 4rem;
}

.container {
  outline: 1px solid black;
  max-width: 100%;
}

.global-padding {
  padding: 2rem 1.5rem;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
}

/* .logo-nav > * {
  outline: 1px solid black;
} */

.logo,
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav a {
  text-decoration: none;
}

.logo img,
.hamburger img {
  display: block;
  width: 20px;
}

.hamburger {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.isActive {
  transform: rotate(180deg);
}
